.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.login-container-inner {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    outline: 3px solid blueviolet;
}

.login-image {
    width: 300px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 30px;
    align-self: center;
}

button.login-button {
    background-color: #282c34;
    border: solid blueviolet;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    align-self: center;
    width: 150px;
}

button.login-button:hover {
    background-color: blueviolet;
    color: white;
}